
<app-s-d></app-s-d>
<app-s-d></app-s-d>
<app-s-d></app-s-d>
<app-create-farmer></app-create-farmer>
<app-create-farmer></app-create-farmer>
<app-india></app-india>
<app-employee-details></app-employee-details>
<app-create-employee></app-create-employee>
<app-create-employee></app-create-employee>
<app-employee-details></app-employee-details>
<app-employee-details></app-employee-details>
<app-employee-details></app-employee-details>
<app-create-employee></app-create-employee>
<app-employee-details></app-employee-details>
<app-create-employee></app-create-employee>
<app-employee-details></app-employee-details>