<!--The content below is only a placeholder for respective section and can be replaced.-->
<div class="app-header-container"></div>
<div class="app-container">
    <app-app-menu class="menu-bar"></app-app-menu>
    <app-app-main-content class="main-content-container main-content-bg"></app-app-main-content>
    <app-app-right-content class="menu-bar"></app-app-right-content>
</div>
<div class="app-container_bottom">
    <app-bottom-menu class="menu-bar"></app-bottom-menu>
    <app-bottom-main-content class="main-content-container"></app-bottom-main-content>
    <app-bottom-right-content class="menu-bar"></app-bottom-right-content>
<div>